/***************
 *   Resets
 ***************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--theme-ui-colors-background);
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica,
    Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.65;
  height: 100%;

  /* Disable auto-enlargement of small text in Safari */
  text-size-adjust: 100%;

  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
}

/***************
 *    Mixins
 ***************/

@mixin text-clipping($lines) {
  white-space: normal;
  text-overflow: ellipsis;
  overflow-wrap: normal;
  overflow: hidden;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

/* $breakpoint choices for MEDIA QUERY SIZES
  0 - 540px:        'sm'
  541 - 735px:      'md'
  736 - 1070px:     'lg'
  1071 - 1280px:    'xl'
  ==> 1em = 16px
*/
@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media only screen and (max-width: 33.75em) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media only screen and (max-width: 45.9375em) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media only screen and (max-width: 66.875em) {
      @content;
    }
  }

  @if $breakpoint == xl {
    @media only screen and (min-width: 80em) {
      @content;
    }
  }
}

/***************
 *  Variables
 ***************/

:root {
  --theme-ui-colors-primary: #000;
  --theme-ui-colors-background: #fafafa;
  --theme-ui-colors-grey: #73737d;
  --theme-ui-colors-accent: #6166dc;
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
}

/***************
 *     Main
 ***************/

.hh-section {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 4rem;

  @include respond-to(lg) {
    max-width: 850px;
  }
}

.hh-back {
  position: absolute;
  display: inline-block;
  opacity: 0;
  width: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

.hh-nav {
  position: relative;
  padding-top: 10em;
  display: flex;
  justify-content: space-between;

  @include respond-to(lg) {
    padding-top: 5em;
  }

  &--brand {
    width: 25px;
    height: 25px;
  }

  &--mode {
    position: relative;
    display: flex;
    opacity: 0.5;
    border-radius: 5px;
    width: 40px;
    height: 25px;
    background: transparent;
    outline: none;
    border-style: none;
    appearance: none;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }

    &__1 {
      display: block;
      position: relative;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 2px solid var(--theme-ui-colors-primary, #000);
      background: var(--theme-ui-colors-primary, #000);
      transform: scale(1);
      transition: all 0.45s ease;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        right: -9px;
        top: -9px;
        width: inherit;
        height: inherit;
        border: 2px solid var(--theme-ui-colors-primary, #000);
        border-radius: inherit;
        opacity: 1;
        transform: translate(0, 0);
        transition: transform 0.45s ease;
      }

      &::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: inherit;
        margin: -4px 0 0 -4px;
        top: 50%;
        left: 50%;
        box-shadow: 0 -23px 0 var(--theme-ui-colors-primary, #000),
          0 23px 0 var(--theme-ui-colors-primary, #000),
          23px 0 0 var(--theme-ui-colors-primary, #000),
          -23px 0 0 var(--theme-ui-colors-primary, #000),
          15px 15px 0 var(--theme-ui-colors-primary, #000),
          -15px 15px 0 var(--theme-ui-colors-primary, #000),
          15px -15px 0 var(--theme-ui-colors-primary, #000),
          -15px -15px 0 var(--theme-ui-colors-primary, #000);
        transform: scale(0);
        transition: all 0.35s ease;
      }
    }

    &__2 {
      position: absolute;
      right: -1px;
      top: -8px;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      border: 0;
      background: var(--theme-ui-colors-background, #fafafa);
      transform: translate(0, 0);
      opacity: 1;
      transition: background 0.25s var(--ease-in-out-quad), color 0.25s var(--ease-in-out-quad),
        transform 0.45s ease;
    }
  }
}

.hh-hero {
  &--title {
    max-width: 65.2rem;
    margin: 10rem 0;

    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 5.2rem;
      line-height: 1.15;
      color: var(--theme-ui-colors-primary, #000);

      @include respond-to(lg) {
        font-size: 3.8rem;
      }

      @include respond-to(sm) {
        font-size: 3.2rem;
      }
    }
  }

  &--bio {
    font-size: 1.4rem;
    line-height: 1.45;
    color: var(--theme-ui-colors-grey, #73737d);
    display: flex;
    align-items: center;
    margin-bottom: 10rem;

    p {
      max-width: 43rem;
    }

    @include respond-to(lg) {
      margin-bottom: 5rem;
    }

    @include respond-to(sm) {
      display: none;
    }
  }
}

.hh-avatar {
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 10px 26px 10px 0;

  & > img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }

  &::after {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    border: 1px solid rgba(0, 0, 0, 0.25);
  }
}

.hh-blog {
  display: grid;
  position: relative;
  grid-template-rows: 1fr;

  &--card {
    display: grid;
    position: relative;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 488px;
    grid-column-gap: 9.6rem;
    align-items: center;
    margin-bottom: 5em;

    @include respond-to(lg) {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      grid-column-gap: 2.4rem;
    }

    &:hover,
    &:focus {
      :first-child {
        box-shadow: 0 50px 80px -20px rgba(0, 0, 0, 0.27), 0 30px 50px -30px rgba(0, 0, 0, 0.3);
      }

      :last-child {
        h2 {
          color: var(--theme-ui-colors-accent, #6166dc);
        }
      }
    }

    &__top {
      position: relative;
      overflow: hidden;
      height: 220px;
      box-shadow: rgba(0, 0, 0, 0.3) 0 30px 60px -10px, rgba(0, 0, 0, 0.33) 0 18px 36px -18px;
      transition: box-shadow 0.33s var(--ease-out-quart);

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__bottom {
      h2 {
        font-size: 2.1rem;
        line-height: 1.333;
        font-weight: bold;
        font-family: Merriweather, Georgia, serif;
        color: var(--theme-ui-colors-primary, #000);
        word-break: keep-all;
        @include text-clipping(2);
        margin-bottom: 1rem;

        @include respond-to(lg) {
          font-size: 2.4rem;
        }

        @include respond-to(sm) {
          font-size: 2.2rem;
        }
      }

      p {
        font-size: 1.6rem;
        color: var(--theme-ui-colors-grey, #73737d);
        @include text-clipping(2);
        max-width: 515px;
        margin-bottom: 0.625em;
      }

      span {
        display: block;
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 0.625em;
        color: var(--theme-ui-colors-grey, #73737d);
        opacity: 0.33;
      }

      @include respond-to(lg) {
        padding-top: 30px;
      }
    }
  }
}

.hh-tags {
  display: flex;

  p {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 600;
    color: var(--theme-ui-colors-grey, #73737d);
    margin-right: 1.5em;
  }
}

::selection {
  background-color: var(--theme-ui-colors-accent, #6166dc);
  color: #fff;
}
