/***************
 *   Resets
 ***************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: inherit;
}

html {
  font-size: 62.5%;

  // @include respond-to("sm") {
  //   font-size: 56.25%;
  // }

  // @include respond-to("md") {
  //   font-size: 50%;
  // }

  // @include respond-to("lg") {
  //   font-size: 45%;
  // }

  // @include respond-to("xl") {
  //   font-size: 75%;
  // }
}

body {
  box-sizing: border-box;
  background-color: var(--theme-ui-colors-background);
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.65;
  height: 100%;

  /* Disable auto-enlargement of small text in Safari */
  text-size-adjust: 100%;

  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

button, a {
  cursor: pointer;
  text-decoration: none;
}

/***************
 *    Theme
 ***************/

:root {
  --theme-ui-colors-primary: #000;
  --theme-ui-colors-background: #b5b4b4;
  --theme-ui-colors-grey: #73737d;
  --theme-ui-colors-accent: #6166dc;
  --breakpoint-sm: 675px;
}

/***************
 *     Main
 ***************/

.hh-section {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 4rem;
}

.hh-back {
  position: absolute;
  display: inline-block;
  opacity: 0;
  width: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

.hh-nav {
  position: relative;
  padding-top: 10em;
  display: flex;
  justify-content: space-between;

  &-brand {
    width: 25px;
    height: 25px;
  }

  &-mode {
    position: relative;
    display: flex;
    opacity: 0.5;
    border-radius: 5px;
    width: 40px;
    height: 25px;
    background: transparent;
    outline: none;
    border-style: none;
    appearance: none;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }

    span {
      display: block;
      position: relative;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 2px solid var(--theme-ui-colors-primary, #000);
      background: var(--theme-ui-colors-primary, #000);
      transform: scale(1);
      transition: all 0.45s ease;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        right: -9px;
        top: -9px;
        width: inherit;
        height: inherit;
        border: 2px solid var(--theme-ui-colors-primary, #000);
        border-radius: inherit;
        opacity: 1;
        transform: translate(0,0);
        transition: transform 0.45s ease;
      }

      &::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: inherit;
        margin: -4px 0 0 -4px;
        top: 50%;
        left: 50%;
        box-shadow: 0 -23px 0 var(--theme-ui-colors-primary, #000),
                    0 23px 0 var(--theme-ui-colors-primary, #000),
                    23px 0 0 var(--theme-ui-colors-primary, #000),
                    -23px 0 0 var(--theme-ui-colors-primary, #000),
                    15px 15px 0 var(--theme-ui-colors-primary, #000),
                    -15px 15px 0 var(--theme-ui-colors-primary, #000),
                    15px -15px 0 var(--theme-ui-colors-primary, #000),
                    -15px -15px 0 var(--theme-ui-colors-primary, #000);
        transform: scale(0);
        transition: all 0.35s ease;
      }
    }
  }
}

.hh-hero {
  &-title {
    max-width: 65.2rem;
    margin: 10rem 0;

    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 5.2rem;
      line-height: 1.15;
      color: var(--theme-ui-colors-primary, #000);
    }
  }

  &-bio {
    font-size: 1.4rem;
    line-height: 1.45;
    color: var(--theme-ui-colors-grey, #73737d);
    display: flex;
    align-items: center;

    p {
      max-width: 43rem;
    }
  }
}

@media only screen and (max-width: 675px) {
  .hh-hero {
    &-bio {
      display: none;
    }
  }
}

.hh-avatar {
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 10px 26px 10px 0;

  &::after {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    //border: 1px solid rgba(0,0,0,0.25);
    border: red;
  }
}

.hh-blog {
  display: grid;

  &-row {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 488px;
    align-items: center;
    position: relative;
    margin-bottom: 5em;
    grid-column-gap: 96px;
  }
}

::selection {
  background-color: var(--link-color);
  color: #fff;
}

